.section {
    $width:100px;
    $height:200px;
    width:$width;
    height:$height;
    .item {
        width:$width;
        height:$height;
    }
    @at-root .box {
    width:$width;
    height:$height;
    }
}
// section안에 있는 변수값을 쓰고 나올때 유용