$w:100;
.item {
    display:block;
    @if($w < 150px or $w < 90px){
        width:400px;
    }
}
.item {
    display:block;
    @if($w < 50px and $w < 90px){
        width:400px;
    }
}
.item {
    display:block;
    @if not($w < 50px){
        width:400px;
     //   ()안이 거짓이 되야{}이하를 출력
    }
}