header {
  background: yellowgreen;
}
header img {
  display: block;
}
main {
  background: tomato;
}
footer {
  background: thistle;
}
footer div h3 {
  color: white;
}
.box {
  width: 300px;
  height: 120px;
}
.box_red {
  background: red;
}
.box_blue {
  background: blue;
}
