/* a {
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  display: block;
  text-align: center;
}
a:hover {
  background: tomato;
} */

/* h2 {
  padding-bottom: 1000px;
} */

b {
  font-weight: normal;
}

em {
  color: turquoise;
  /* 기본 italic체 */
}
i {
  color: tomato;
}
u {
  color: blue;
}
span {
  text-decoration: underline;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}
code {
  color: orange;
  background: lightgray;
  border: 1px solid orange;
  padding: 5px;
}
kbd {
  padding: 0 3px;
  border-radius: 3px;
  border-top: 2px solid rgb(240, 240, 240);
  border-bottom: 2px solid rgb(205, 205, 205);
  border-right: 2px solid rgb(270, 270, 270);
  border-left: 2px solid rgb(225, 225, 225);
}
div {
  color: yellow;
  font-size: 20px;
  font-weight: bold;
}

p {
  line-height: 30px;
}
